$SendItGreen: #62A892;

form.add-climb-form{
  color: $SendItGreen;
  font-weight: 900;
  width: 70%;
  margin: auto;
  padding-top: 25px;
  input.add-input{
    border:none;
    border-bottom: 1px solid rgb(168, 208, 168);
    font-size: 14px;
  }
}

.attempts{
  font-weight: 900;
  font-size: 30px;
  color: $SendItGreen;
  padding-top: 10px;
}

.attempt-btn{
  font-size: 40px;
  color: $SendItGreen;
  padding: 0 25px;
}

.add-climb-btn{
  background-color: $SendItGreen;
  color: white;
  border-radius: 30px;
  width: 250px; 
  font-weight: 900;
  margin-top: 35px;
}

